<form action="/tweet" method="post" >
  <label>New Tweet</label>
  <textarea class="form-control" rows="3"></textarea>
  <button type="submit" class="btn btn-primary">Create New Tweet</button>
</form>
