<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  <title></title>
</head>
<body>

  <script src="js/bootstrap.min.js"></script>
  <%= erb :_header %>
  <% if flash[:success] || flash[:errors] %>
  <div class="alert alert-success alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= flash[:errors] if flash[:errors] %>
    <%= flash[:success] if flash[:success] %>
  </div>
  <% end %>
  <div class="container">
  <%= yield %>
</div>
  <script src="/js/application.js"></script>

</body>
</html>
