<div class="row">
  <div class="col-md-2">


    <%= erb :_gravatar, locals: {user: @user} %>
    <div class="span8">
        <h6><%= @user.name %></h6>
        <h6><%= @user.email %></h6>
    </div>
  </div>
  <div class="col-md-10">
    <% if @tweets %>
      <%= erb :"tweets/_tweets", locals: {tweets: @tweets} %>
    <% end %>
  </div>
</div>

<a href='/tweet/new'>Create New Tweet</a>
