<div class="row">
  <div class="col-md-2">

    <% @hash = Digest::MD5.hexdigest(@user.email.downcase) %>
    <% if @hash %>
    <div class="span2">
      <img src="http://gravatar.com/avatar/<%= @hash %>"/>
    </div>
    <% end %>

    <div class="span8">
        <h6><%= @user.name %></h6>
        <h6><%= @user.email %></h6>
    </div>
  </div>
  <div class="col-md-10">
    <% if @tweets %>
    <h3>Tweets</h3>
    <div class="list-group">
      <ul class="list-group">
      <% @tweets.each do |tweet| %>
        <li class="list-group-item"><%= tweet.body %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<a href='/tweet/new'>Create New Tweet</a>
