<div class="row">
  <div class="col-md-2">


    <%= erb :_gravatar, locals: {user: @user} %>
    <div class="span8">
        <h3><%= @user.name %></h3>
        <h5><%= @user.email %></h5>
        <a href='/tweet/new'>Create New Tweet</a>
    </div>
  </div>
  <div class="col-md-10">
    <% if @tweets %>
      <%= erb :"tweets/_tweets", locals: {tweets: @tweets} %>
    <% end %>
  </div>
</div>


